[submodule "ara3d-template"]
	path = submodules/ara3d-template
	url = https://github.com/ara3d/ara3d-template
[submodule "submodules/Ara3D.Collections"]
	path = submodules/Ara3D.Collections
	url = https://github.com/ara3d/Ara3D.Collections
[submodule "submodules/Ara3D.Serialization.BFAST"]
	path = submodules/Ara3D.Serialization.BFAST
	url = https://github.com/ara3d/Ara3D.Serialization.BFAST
